#aliases

#for traversing directory tree
alias ..='cd ..'
alias ...='cd ../..'

# Using tokei to count lines of code. Makes more sense to have the most
## common language come up first so adding the lines argument
alias tokei='tokei --sort lines'


alias vala-lint='io.elementary.vala-lint'

# Alias some of the default programs to better alternatives
alias cat='batcat --theme OneHalfDark'
alias ls='exa --icons'
alias tree='exa --tree'
alias fd='fdfind'

