#aliases

#for traversing directory tree
alias ..='cd ..'
alias ...='cd ../..'

# Using exa program instead of ls
alias ls='exa --icons'

# Using tokei to count lines of code. Makes more sense to have the most
## common language come up first so adding the lines argument
alias tokei='tokei --sort lines'
